*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: #111313;
    color: white;
    padding: 0 200px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
.logo{
    height: 1.8rem;
    width: 90px;
}

.navbar-link{
    color: rgba(255,255,255,.5);
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar-link:hover{
    color: rgba(255, 255, 255, 1);
}

.navbar-link-section > .navbar-link{
    display: inline-block;
    margin: 3px 10px;
}

.title-section{
    float: left;
}

.title{
    font-size: 9rem;
}

.description{
    opacity: .5;
    font-size: 1.4rem;
}